.nav-link.active {
    color:#FF5A34 !important;

  }

  .home-header-right-menu {
    color:#999;
    justify-content: center;
    align-items: center;
    div {
      font-size: 12px;
      margin-right: 10px;
     
    }
    .btn{
      --bs-btn-padding-y: .2rem;
      --bs-btn-padding-X: .2rem;
      --bs-btn-font-size: .75rem;
    }
   
  }
  .home-container{
    width:50%;
    margin: 0 auto;
    
    text-align: center;
    margin-top: 130px;

    .footer  {
        margin-top: 400px;

        p {
            color:#999;
            font-size: 10px;
            margin-bottom: 5px;
        }
       
    }
  }